.free-main-loading {
    position: relative;
    min-height: 45px;
  }
  
  .free-main-loading .free-main-loading-inner {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    user-select: none;
    transition: opacity .3s;
    background: #161A21;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 2;
  }
  
  .free-main-loading .free-main-loading-inner .animation-box .anticon-cricle {
    animation: animationLoading 1s  infinite linear;
    color: #1890ff;
  }
  
  .free-main-loading .free-main-loading-inner .animation-box .small-size {
    width: 14px;
    height: 14px;
  }
  
  .free-main-loading .free-main-loading-inner .animation-box .normal-size {
    width: 20px;
    height: 20px;
  }
  
  .free-main-loading .free-main-loading-inner .animation-box .large-size {
    width: 32px;
    height: 32px;
  }
  
  .free-main-loading .free-main-loading-inner .animation-box .la-ball-beat.la-2x {
    height: 36px;
    display: block;
    font-size: 0;
    color: #fff;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  
  .free-main-loading .free-main-loading-inner .animation-box .la-ball-beat > div {
    width: 20px;
    height: 20px;
    margin: 8px;
    border-radius: 100%;
    animation: ball-beat 0.9s -0.35s infinite linear;
    display: inline-block;
    float: none;
    background-color: currentColor;
    border: 0 solid currentColor;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  
  .free-main-loading .free-main-loading-inner .animation-box .la-ball-beat > div:nth-child(2n-1) {
    -webkit-animation-delay: -.7s;
    -moz-animation-delay: -.7s;
    -o-animation-delay: -.7s;
    animation-delay: -.7s;
  }
  
  .free-main-loading .free-main-loading-inner .tip-box {
    margin-bottom: 5px;
    color: #ffffff;
    text-shadow: 0 1px 2px #000000;
    line-height: 1;
  }
  
  .free-main-loading .free-main-loading-inner .small-text {
    font-size: 14px;
  }
  
  .free-main-loading .free-main-loading-inner .normal-text {
    font-size: 20px;
  }
  
  .free-main-loading .free-main-loading-inner .large-text {
    font-size: 22px;
  }
  
  .free-main-loading .show-loading {
    opacity: 1;
  }
  
  .free-main-loading .hide-loading {
    opacity: 0;
    pointer-events: none;
  }
  
  .free-main-loading .inner-inline {
    position: static;
    top: 0;
    left: 0;
    transform: unset;
    background-color: unset !important;
  }
  
  .free-main-loading-inline {
    position: static;
    display: inline-block;
  }
  
  .free-main-loading-fullscreen {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 100vw;
    height: 100vh;
  }
  
  .free-main-loading-item-full {
    position: absolute;
    width: 100%;
    height: 100%;
  }
  
  @keyframes animationLoading {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  @keyframes ball-beat {
    50% {
      opacity: .2;
      -webkit-transform: scale(0.75);
      -moz-transform: scale(0.75);
      -o-transform: scale(0.75);
      transform: scale(0.75);
    }
    100% {
      opacity: 1;
      -webkit-transform: scale(1);
      -moz-transform: scale(1);
      -o-transform: scale(1);
      transform: scale(1);
    }
  }